.solutionInfo {
  position: fixed; /* Положение фиксированное относительно окна просмотра */
  top: 50%; /* Расположение по вертикали на 50% от верхнего края */
  left: 50%; /* Расположение по горизонтали на 50% от левого края */
  transform: translate(
    -50%,
    -50%
  ); /* Смещение элемента на 50% влево и вверх, чтобы он был по центру */
  background-color: white; /* Цвет фона */
  padding: 20px; /* Отступы вокруг содержимого */
  border: 1px solid black; /* Граница */
  z-index: 9999; /* Очень высокий уровень z-index для отображения поверх других элементов */
}
