.taskPage {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  &__task-admin {
    display: flex;
    & > .options {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  &__route {
    display: flex;
    flex-direction: column;
    gap: 10px;
    button {
      width: 120px;
      background: #8aa8eb;
    }
  }

  .taskBody {
    position: absolute;
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Точное центрирование */
    z-index: 100;
    width: 100px;
    background-color: aliceblue;
  }
  .taskPage__tasks {
    width: 50%;
  }
  .taskPage__nodata {
    font-weight: 700;
    font-size: 30px;
  }
  .taskPage__button {
    padding: 16px 42px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: #8aa8eb;
    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color 0.6s ease;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      top: var(--mouse-y);
      left: var(--mouse-x);
      transform-style: flat;
      transform: translate3d(-50%, -50%, 0);
      background: rgba(white, 0.1);
      border-radius: 100%;
      transition: width 0.3s ease, height 0.3s ease;
    }
    &:focus,
    &:hover {
      background: darken(#fc6e51, 7%);
    }
    &:active {
      &:after {
        width: 300px;
        height: 300px;
      }
    }
  }
}
